html
  head
    //- script(src="/js/hoge.js")
    link(rel="stylesheet", href="/css/style.scss")
    //- link(rel="stylesheet", href="/common/css/style.css")
    //- link(rel="stylesheet", href="/common/css/hoge.css")
  body
    include ./pug/_var.pug
    |
    img(src="/common/img/pixta_25473698_M_01.png")
